################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/RegistryLibrary/packages
/RegistryLibrary/RegistryLibrary/bin
/RegistryLibrary/RegistryLibrary/obj
/System/*/*/bin
/System/*/*/obj
/System/*/packages
/Module/*/*/bin
/Module/*/*/obj
/Module/*/packages