<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <modules>
    <!--日志模块-->
    <module name="Logging" assembly="LoggingModule" class="LoggingModule.Model.Logging"></module>
    <!--消息队列模块-->
    <module name="MessageQueue" assembly="MessageQueueModule" class="MessageQueueModule.Model.MessageQueue">
      <constructor name="logging" ref="Logging"></constructor>
    </module>
    <!--WebSocket模块-->
    <module name="WebSocket" assembly="WebSocketModule" class="WebSocketModule.Model.WebSocket">
      <constructor name="messageQueue" ref="MessageQueue"></constructor>
      <constructor name="port" value="4141"></constructor>
      <constructor name="maxConnectionNumber" value="1000"></constructor>
    </module>
    <!--WebApi模块-->
    <module name="WebApi" assembly="WebApiModule" class="WebApiModule.InjectionModule">
      <constructor name="baseUri" value="http://*:4142"></constructor>
    </module>
    <!--定时服务模块-->
    <module name="TimingService" assembly="TimingServiceModule" class="TimingServiceModule.Model.TimingService"></module>
    <!--Email模块-->
    <module name="Email" assembly="EmailModule" class="EmailModule.Model.Email">
      <constructor name="sender" value="xy609284278@126.com"></constructor>
      <constructor name="password" value="xy10742581xy"></constructor>
      <constructor name="host" value="smtp.126.com"></constructor>
      <constructor name="timingService" ref="TimingService"></constructor>
    </module>
    <!--Demo模块-->
    <module name="Demo" assembly="DemoModule" class="DemoModule.Model.Demo">
      <constructor name="messageQueue" ref="MessageQueue"></constructor>
    </module>
    <!--系统模块-->
    <module name="DemoSystem" assembly="DemoSystem" class="DemoSystem.InjectionModule">
      <property name="DemoModule" ref="Demo"></property>
      <property name="EmailModule" ref="Email"></property>
      <property name="WebSocketModule" ref="WebSocket"></property>
      <property name="TimingServiceModule" ref="TimingService"></property>
    </module>
  </modules>
</configuration>